<form class="form-horizontal">
  <div class="form-group" id="pluginScaffold">
    <label for="strInput" class="col-sm-2 control-label">Add String</label>
    <div class="col-sm-8">
      <input type="email" class="form-control strInput" placeholder="Enter a string">
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-small btn-success addBtn">Add</button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-small btn-danger delBtn">Delete</button>
    </div>
  </div>
</form>