<section>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12">
        <p>This is another KeystoneJS View. It is only accessible to logged in users.</p>
      </div>
    </div>
  </div>
  
</section>