

<section>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12">
        <p>This is the test page demonstrating how to create a KeystoneJS View. This page is publicly accessible.</p>
      </div>
    </div>
  </div>
  
</section>

